<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='order-complete.css') }}">
    <script src="https://kit.fontawesome.com/a8c88432fd.js" crossorigin="anonymous"></script>
    <title>Order Complete</title>
</head>
<body>
    <article>
        <div class="box">
            <div class="title">
                <i class="fa-regular fa-circle-check"></i>
                <span>Your order is complete!</span>
            </div>
            <div class="description">
                <span>You will receiving a confirmation email with order details</span>
            </div>
            <a href="/" class="container-button">
                <button class="comebacktohome">Torna alla home</button>
            </a>
        </div>
    </article>
    <footer>
        <div class="contact">
            <div class="content">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="terms">
            <div class="content">
                <ul>
                    <li><a href="#">Terms of Services</a></li>
                </ul>
            </div>
        </div>
        <div class="about">
            <div class="content">
                <ul>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>